@import "./sass/variables";
@import "./sass/resets";

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 54px 0 0;
  font-family: "Roboto", sans-serif;
  color: #262626;
  font-weight: 400;
  font-size: 14px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 22px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

nav ion-icon,
nav img {
  cursor: pointer;
}

nav .container {
  width: 100%;
  max-width: 935px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav .container > * {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .logo img {
  position: relative;
  top: 3px;
}

nav .logo .separador {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
  margin: 0 10px;
}

nav .pesquisa input {
  width: 215px;
  height: 28px;
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  color: #979797;
  text-align: center;
}

nav .icones ion-icon {
  margin: 0 5px;
}

nav .icones-mobile {
  display: none;
}

main {
  display: flex;
  justify-content: space-between;
  width: 935px;
  margin: 0 auto;
  margin-top: 88px;
}

.esquerda {
  width: 100%;
  max-width: 614px;
}

aside {
  width: 293px;
}

#stories-container {
  display: flex;
  align-items: center;
  height: 118px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding: 0 18px;
  overflow: hidden;
  position: relative;
}

figure {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
}

figure .img-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  width: 66px;
  background-image: url("./assets/img/story-circle.svg");
  background-size: cover;
}

figure .img-background img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

figure .user {
  width: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  height: 14px;
}

#stories-container ion-icon {
  position: absolute;
  right: 10px;
  top: 45px;
  height: 32px;
  width: 32px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

article {
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

article .post-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  font-size: 14px;
  font-weight: 500;
}

article .post-header .user,
article .post-header .acoes {
  display: flex;
  align-items: center;
}

article .post-header img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

article .user,
article .post-header img,
article .post-footer img,
article ion-icon,
article strong {
  cursor: pointer;
}

article > img {
  width: 100%;
}

article .post-footer .acoes {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  font-size: 24px;
}

article .post-footer .acoes div:first-child ion-icon {
  margin-right: 6px;
}

article .post-footer .curtidas {
  display: flex;
  align-items: center;
  padding: 0 16px 13px;
  font-weight: 300;
}

article .post-footer .curtidas img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.post:last-child {
  margin-bottom: 18px;
}

aside {
  padding-top: 24px;
  position: sticky;
  top: 88px;
}

aside > .user {
  display: flex;
  align-items: center;
}

aside > .user img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

aside > .user .texto {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  font-weight: 300;
  color: #8e8e8e;
}

aside > .user .texto strong {
  font-weight: 500;
  color: #262626;
}

aside .sugestoes .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 14px;
}

aside .sugestoes .sugestao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 31px;
  margin-bottom: 16px;
}

aside .sugestoes .sugestao .user {
  display: flex;
}

aside .sugestoes img {
  width: 32px;
  height: 32px;
}

aside .sugestoes .seguir {
  color: #139ef2;
  font-weight: 600;
}

aside .sugestoes .sugestao .user .texto {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .sugestoes .sugestao .user .texto :last-child {
  color: #8e8e8e;
  font-weight: 400;
}

.links,
.copyright {
  font-size: 11px;
  color: #c7c7c7;
}

.links {
  margin-top: 40px;
  cursor: pointer;
}

.copyright {
  margin-top: 18px;
}

.fundo-mobile {
  display: none;
}

.fundo-mobile ion-icon {
  cursor: pointer;
}

.logo-mobile,
.instagram-mobile {
  display: none !important;
}

@media (max-width: 935px) {
  aside {
    display: none;
  }

  nav .container {
    padding: 0 20px;
  }

  main {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 614px) {
  main {
    margin-top: 0;
  }

  article {
    border-radius: 0;
    border-left: none;
    border-right: none;
    width: 100%;
  }

  .post:last-child {
    margin-bottom: 72px;
  }

  #stories-container {
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .post:first-child {
    margin-top: 0;
  }

  nav .pesquisa {
    display: none;
  }

  nav .icones {
    display: none;
  }

  nav .icones-mobile {
    display: flex;
  }

  .fundo-mobile {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  nav .logo {
    display: none;
  }

  .logo-mobile,
  .instagram-mobile {
    display: flex !important;
  }

  .instagram-mobile {
    position: relative;
    top: 4px;
  }
}
